@using PhotoContests.App.Models.ViewModels
@model CommentViewModel

<div class="list-group comment">
    <div class="list-group-item">
        <p>
            [By: @Model.Author] [@Model.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")]
        </p>
        <blockquote>
            <p>
                @Model.Content
            </p>
        </blockquote>
    </div>
</div>