@using PhotoContests.App.Models.ViewModels
@model ICollection<CommentViewModel>


<div class="caption well">
    @foreach (var comment in Model)
    {
        @Html.Partial("~/Views/Comments/_ShowComment.cshtml", comment)
    }
    <div class="list-group">
        <div class="list-group-item">
            <textarea ng-model="content" rows="3" cols="40"></textarea>
            <a class="btn btn-primary" ng-click="addComment(trip.Id, content)" role="button">Comment</a>
        </div>
    </div>
</div>