@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Opssssssssssssssssssssssssss</h1>
<img width="300" src="~/Images/error.png" />
<h2 class="text-danger">An error occurred while processing your request.</h2>

