@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Not found......</h1>
<img src="~/Images/404.png" />
<h2 class="text-danger">An error occurred while processing your request.</h2>

