@using System.Collections.Generic
<div class="form-group">
    @Html.Label("User", new { @class = "col-md-2 control-label" })
    @Html.DropDownList("VoterIds", (IEnumerable<SelectListItem>)this.ViewBag.UserIds, new { name = "VoterIds[]", @class = "form-control" })
</div>
